#page-template {
  .intro {
    padding: 50px 0;
    background-color: $black;
    margin-bottom: 50px;

    h1 {
      @include title-intro;
      color: $white;
      text-align: center;
    }
  }

  .delivery-info {
    background-color: $black;
    padding: 20px;
    text-align: center;
  }

  .woocommerce {
    max-width: 1400px;
    margin: 20px auto;

    /* INFOS */
    .woocommerce-form-coupon-toggle {
      width: 100%;
    }

    .woocommerce-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      border-top-color: $tertiaryColor !important;
    }

    .woocommerce-info::before,
    .woocommerce-info a {
      color: $tertiaryColor !important;
    }

    .woocommerce-error::after,
    .woocommerce-info::after,
    .woocommerce-message::after {
      display: none !important;
    }
  }
}

@media (max-width: 1400px) {
  #page-template {
    padding: 20px;
  }
}
