#pg-home {
  .main-carousel {
    position: relative;

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
          display: none;
        }

        &.mbl {
          display: none;

          @media (max-width: 768px) {
            display: block;
          }
        }
      }
    }

    .swiper-buttons {
      position: absolute;
      right: 10%;
      bottom: 10%;
      display: flex;
      gap: 50px;
      align-items: center;

      .swiper-button-prev,
      .swiper-button-next {
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        margin: 0;

        &::after {
          content: "";
          background-image: url("./icons/arrow-carousel-left.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 25px;
          height: 25px;
          transition: transform 0.3s ease, filter 0.3s ease;
        }

        &:hover::after {
          transform: scale(1.2);
          filter: brightness(1.3);
        }
      }

      .swiper-button-next {
        &::after {
          background-image: url("./icons/arrow-carousel-right.svg");
        }
      }

      .swiper-pagination {
        bottom: 30px;
      }
    }
  }

  .section-categories {
    padding: 100px 20px;

    @media (max-width: 768px) {
      padding: 50px 20px;
    }

    .title-section {
      @include title-section;
      color: $primaryColor;
      text-align: center;
    }

    h3 {
      @include text-top;
      color: $black;
      text-align: center;
      margin-top: 20px;
    }

    .btn {
      margin: 0 auto;
    }

    .cat-carousel-wrapper {
      max-width: 1260px;
      margin: 50px auto;
      position: relative;
      padding: 0 30px;

      @media (max-width: 768px) {
        padding: 0;
      }

      .cat-carousel {
        max-width: 1240px;
        margin: 0 auto;

        .swiper-slide {
          height: 455px;
          position: relative;
          overflow: hidden;

          @media (max-width: 768px) {
            height: 355px;
          }

          .img-slide {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
          }

          .btn-bottom {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 9;
            width: 100%;
            background-color: $white-cat;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            @include btn-cat;
            color: $black;
            transition: all 0.3s ease;

            img {
              width: 24px;
              width: 24px;
              transition: transform 0.3s ease;
            }
          }

          &:hover {
            cursor: pointer;

            .img-slide {
              transform: scale(1.1);
            }

            .btn-bottom {
              background-color: $white;

              img {
                transform: rotate(45deg);
              }
            }
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          content: "";
          background-image: url("./icons/ph_arrow-right-thin-2.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 32px;
          height: 32px;
          transition: transform 0.3s ease, filter 0.3s ease;
        }

        &:hover::after {
          transform: scale(1.2);
          filter: brightness(1.3);
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
        transform: rotate(180deg);
      }

      .swiper-pagination {
        display: none;
        bottom: -30px;

        @media (max-width: 768px) {
          display: flex;
        }
      }
    }
  }

  .section-about {
    .content-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
      }

      > div {
        max-width: 580px;
        width: 100%;
      }

      .subtitle {
        @include subtitle;
        color: $border-btn;
      }

      h2 {
        @include title-extra-light;
        color: $black;
      }

      .img {
        max-width: 420px;
        object-fit: contain;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }

    .content-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;
      margin-top: -80px;

      @media (max-width: 1024px) {
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 20px;
        text-align: center;
      }

      .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        max-width: 410px;
        width: 100%;
      }
    }
  }

  .section-story {
    padding: 100px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    @media (max-width: 1024px) {
      padding: 50px 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .story-content {
      display: flex;
      justify-content: space-between;
      gap: 50px;
      width: 65%;

      @media (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        text-align: center;
      }

      .story-counter {
        p {
          @include text-regular;
          color: $black;
        }

        .text {
          max-width: 175px;
        }

        .counter {
          @include counter;
          color: $border-btn;
          margin: 10px 0;
        }
      }
    }
  }

  .section-gallery {
    .title-section {
      @include title-section;
      color: $primaryColor;
      text-align: center;
    }

    h3 {
      @include text-top;
      color: $black;
      text-align: center;
      margin-top: 20px;
    }

    .gallery-content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 250px;
      gap: 20px;
      margin-top: 50px;

      @media (max-width: 1024px) {
        grid-auto-rows: 150px;
        gap: 5px;
      }

      @media (max-width: 768px) {
        grid-auto-rows: 100px;
        gap: 5px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6) {
          grid-row: span 2;
        }

        &:nth-child(5) {
          grid-column-start: 2;
          grid-row-start: 3;
        }
      }
    }
  }

  .section-find {
    background-color: $white-color;
    padding: 150px 0;
    position: relative;
    margin: 100px 0;

    @media (max-width: 1024px) {
      padding: 100px 0;
      position: relative;
      margin: 50px 0;
    }

    .title-section {
      @include title-section;
      color: $primaryColor;
    }

    h3 {
      @include text-top;
      color: $black;
      max-width: 370px;
      margin: 10px 0 50px 0;
    }

    &::before {
      content: "";
      background-image: url("./img/onde-encontrar.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 700px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .section-blog {
    .blog-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 50px;

      .title-section {
        @include title-section;
        color: $primaryColor;
      }

      h3 {
        @include text-top;
        color: $black;
        margin-top: 10px;
      }
    }
  }

  .section-social {
    margin: 100px auto;

    @media (max-width: 1024px) {
      margin: 50px auto;
    }

    .title-section {
      @include title-section;
      color: $primaryColor;
    }

    h3 {
      @include title-blog-card;
      color: $black;
      margin: 10px 0 50px 0;
    }
  }
}
