#pg-home {
  .main-carousel {
    position: relative;

    .swiper-slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
          display: none;
        }

        &.mbl {
          display: none;

          @media (max-width: 768px) {
            display: block;
          }
        }
      }
    }

    .swiper-buttons {
      position: absolute;
      right: 10%;
      bottom: 10%;
      display: flex;
      gap: 50px;
      align-items: center;

      .swiper-button-prev,
      .swiper-button-next {
        position: relative;
        top: inherit;
        left: inherit;
        right: inherit;
        margin: 0;

        &::after {
          content: "";
          background-image: url("./icons/arrow-carousel-left.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 25px;
          height: 25px;
          transition: transform 0.3s ease, filter 0.3s ease;
        }

        &:hover::after {
          transform: scale(1.2);
          filter: brightness(1.3);
        }
      }

      .swiper-button-next {
        &::after {
          background-image: url("./icons/arrow-carousel-right.svg");
        }
      }

      .swiper-pagination {
        bottom: 30px;
      }
    }
  }

  .section-categories {
    padding-top: 100px;

    .categories-top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-wrap: wrap;

      .title-section {
        max-width: 520px;
        margin-top: 20px;

        @media (max-width: 1024px) {
          margin-bottom: 20px;
        }
      }
    }

    .cat-carousel-wrapper {
      margin: 50px auto;
      position: relative;

      .cat-carousel {
        .swiper-slide {
          height: 580px;
          position: relative;
          overflow: hidden;

          @media (max-width: 768px) {
            height: 355px;
          }

          .img-slide {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
          }

          &:hover {
            cursor: pointer;

            .img-slide {
              transform: scale(1.1);
            }
          }
        }
      }

      .swiper-button-prev,
      .swiper-button-next {
        &::after {
          content: "";
          background-image: url("./icons/ph_arrow-right-thin-2.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: 32px;
          height: 32px;
          transition: transform 0.3s ease, filter 0.3s ease;
        }

        &:hover::after {
          transform: scale(1.2);
          filter: brightness(1.3);
        }

        @media (max-width: 768px) {
          display: none;
        }
      }

      .swiper-button-prev {
        left: 0;
      }
      .swiper-button-next {
        right: 0;
        transform: rotate(180deg);
      }

      .swiper-pagination {
        display: none;
        bottom: -30px;

        @media (max-width: 768px) {
          display: flex;
        }
      }
    }
  }
}
