.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: max-content;
  height: 44px;
  padding: 5px 20px;
  border: 1px solid $black;
  box-sizing: border-box;
  border-radius: 0;
  background-color: $black;
  cursor: pointer;
  transition: all 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }

  span {
    display: block;
    @include title-form;
    color: $white;
  }

  img {
    width: 9px;
    height: 9px;
  }

  &.secondary {
    border-color: $white;
  }
}
