$black: #000000;
$white: #ffffff;
$white-color: #f6f6f6;
$primaryCream: #fffef7;
$white-cat: #ffffffeb;
$primaryColor: #14506a;
$secondaryColor: #22324c;
$tertiaryColor: #14506a17;
$border-color: #dadadb;
$border-cat: #807b79;
$border-product: #dedede;
$text-description: #4b4b4b;
$btn-whats: #46a234;
$text: #585858;
$title-footer: #858585;
$text-footer: #595959;
$text-footer-bottom: #444444;
$card-color: #faf7f4;
$title-product: #757575;
$price-promo: #71181e;
$gray: #4a4940;
$border-pagination: #e9ecef;
$color-pagination: #6c757d;
$text-breve: #5d5d5d;
$border-btn: #d2ac76;
$img-btn: #f9f2e6;
$border-category: #ede1c9;
$section-intro: #eaeff2;
$border-search: #b5c1c8;
$btn-product: #c59b61;
$border-infos: #e0e0e0;
$border-btn-form: #00aded;
$border_white: #ffffff4d;
$white_opacity_color: #ffffffbf;
